@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.container {
  width: 100%;
  padding: 4rem;
  background-color: $alice-blue;
  color: $space-cadet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 4rem;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project {
  min-height: 200px;
  max-width: 100%;
}

.contents {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.contents:first-child {
  border-right: 1px solid $cadet-crayon;
}

.header {
  font-family: $bitter;
  font-size: 2rem;
  padding: 2rem;
}

.heading {
  padding-bottom: 2rem;
  font-family: $bitter;
}

.content {
}

.repoWrap {
  padding: 1rem;
}

.anchor {
  font-weight: bold;
}

.smallHeading {
  font-family: $bitter;
  padding: 1rem;
}
