@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.container {
  width: 100%;
  background-color: $alice-blue;
  padding: 1rem;

  @include tablet {
    padding: 4rem;
  }
}

.wrap {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablet {
    align-items: center;
  }

  @include desktop {
    padding: 2rem 4rem;
  }
}

.bio {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: $space-cadet;
}

.header {
  @include header;
  padding-bottom: 1rem;
  color: $space-cadet;
}

.content {
  @include large-text;
  padding-top: 1rem;
}
