@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.hero {
  position: relative;
  background-image: linear-gradient(
    to left top,
    #171823,
    #1b1c29,
    #1e202e,
    #222434,
    #26283a,
    #282b3e,
    #2b2d42,
    #2d3046,
    #2f3249,
    #31344b,
    #33364e,
    #353851
  );
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  pointer-events: none;
}

.particles {
  height: 100vh;
}

.button {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
