@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.container {
  width: 100%;
  padding: 4rem;
  background-color: $platinum;
  color: $space-cadet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  @include header;
  padding-bottom: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  @include subheader;
  padding-bottom: 2rem;
}
