@use '../styles/partials/variables.scss' as *;
@use '../styles/partials/mixins.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.topWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.heading {
  width: 100%;
  font-size: 3rem;
  color: $alice-blue;
  font-family: $scope-one;
  padding-bottom: 3rem;

  @include tablet {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
}

.headingSmall {
  font-size: 1.5rem;
  color: $alice-blue;
  font-family: $scope-one;
  font-weight: 400;
  padding-bottom: 2rem;

  @include tablet {
    font-size: 2rem;
  }
}

.wrap {
  position: absolute;
  bottom: 5rem;
}

.headingWelcome {
  font-size: 1rem;
  font-family: $scope-one;
  color: $alice-blue;
  font-weight: 400;
}
